


.counter{
    display: flex;
    max-width: 100px;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

.counter_Btn{
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: var(--color-primary);
    border-radius:5px;
    border: none;
}

.btn{
    background-color: var(--color-primary);
    font-size: 16px;
    color: whitesmoke;
    font-weight: 500;
    padding:10px 15px;
    border-radius: var(--border-size);
    border: none;
    cursor: pointer;
    max-width: max-content;
    transition: all 0.3s ease-in;
    }
    .btn:hover{
        color: var(--color-primary) ;
        background-color: black;
        transform: scale(1.1);
      }